{% extends '../layout.html' %}
{% block title %}this is index{% end %}
{% block feature %}
    <div class="J_regist_feature">
        <a data-toggle="modal" data-target="#registFeature">添加feature</a>
    </div>
{% for k,v in features.iteritems() %}
    <div class="panel-group J_feature" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#{{k[0]}}">
                        {{k[1]}}
                    </a>
                </h4>
            </div>
            <div id="{{k[0]}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td><a data-toggle="modal" data-target="#registScenario" class="J_regist_scenario" belongS="{{k[0]}}">给{{k[1]}}添加新的scenario</a></td>
                        </tr>
                        {% for scenario in v %}
                        <tr>
                            <td><a href="{{scenario[0]}}">{{scenario[1]}}</a></td>
                        </tr>
                        {% end %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% end %}
{% end %}
{% block board %}
<h1>seraph</h1>
{% end %}
{% block step %}
{% for k,v in modules.iteritems() %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#{{k[0]}}">
                        {{k[1]}}
                    </a>
                </h4>
            </div>
            <div id="{{k[0]}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        {% for step in v %}
                        <tr>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-default">
                                        假如
                                    </button>
                                    <button type="button" class="btn btn-default">
                                        而且 
                                    </button>
                                    <button type="button" class="btn btn-default">
                                        那么
                                    </button>
                                </div>
                            </td>
                            <td>{{step[1]}}</td>
                        </tr>
                        {% end %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% end %}
<div class="modal fade" id="registFeature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" id="registFeatureForm">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">增加Feature</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="featureName">名称</label>
                  <input type="text" class="form-control" id="featureName" placeholder="请输入Feature名称"></input>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">确定</button>
          </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="registScenario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" id="registScenarioForm">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">增加Scenario</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="featureName">名称</label>
                  <input type="text" class="form-control" id="featureName" placeholder="请输入Scenario名称"></input>
                  <input type="hidden" id="scenarioAddId"></input>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary">确定</button>
          </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% end %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $('a.J_regist_scenario').click(function(){
        $('#scenarioAddId').val($(this).attr('belongS'));
        });
    $('#registFeatureForm').submit(function(){

        return false;
        });
    $('#registScenarioForm').submit(function(){

        return false;
        });
    });
</script>
{% end %}
