<tr>
    <td>
        <input class="form-control" value="{{step}}" disabled="true" />
    </td>
    <td class="col-xs-2">
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-default J_up">向上</button>
            <button type="button" class="btn btn-default J_down">向下</button>
            <button type="button" class="btn btn-default J_modify">修改</button>
            <button type="button" class="btn btn-default J_delete">删除</button>
        </div>
    </td>
</tr>
